<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>투두리스트</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>

  <div class="app" id="app">
      <div class="clock"><h1 class = "h1-clock"></h1></div>

    <form class="form" th:action="@{/todo/create}" method="post" >
      <input class="input form__input" name="content" />
      <button class="btn form__submit-btn" type="submit">Add</button>
    </form>


     <transition-group tag="ol" name="list" class="todo-list">
       <tr th:each="to:${todoList}">
      <li class="todo-list__item">
        <td th:text="${to.content}"></td>
        <button class="btn todo-list__item-remove" th:value="${to.id}" >x</button>
      </li>
       </tr>

    </transition-group>

<!--    <div class="filters">-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;all" v-on:click="filterTodos('all')">-->
<!--        All-->
<!--      </button>-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;complete" v-on:click="filterTodos('complete')">-->
<!--        Complete-->
<!--      </button>-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;incomplete" v-on:click="filterTodos('incomplete')">-->
<!--        Incomplete-->
<!--      </button>-->
<!--    </div> -->
  </div>
  <!-- partial -->
  <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
  <script src="./script.js"></script>

</body>

<script>
    //삭제 기능
  {
    const deleteBtn = document.querySelectorAll(".todo-list__item-remove");
    deleteBtn.forEach(btn => {
              btn.addEventListener("click", function (evnet) {
                const DeleteBtn=event.srcElement;

                const id=DeleteBtn.getAttribute("value");

                const url=`/todo/delete/${id}`;
                fetch(url,{
                      method:"DELETE",
                  }).then(response=>{
                      //댓글 삭제 실패처리
                      if (!response.ok){
                          alert("댓글 삭제 실패..!");
                          return;
                      }
                      //삭제 성공시, 댓글을 화면에서 지움
                      window.location.reload(); // 필수!
                      const target=document.querySelector('.id');
                      target.remove();
                  });
              });
            });
  }
    { //체크박스
        const check=document.querySelectorAll('.form-check-input');

        check.forEach(btn=>{
          btn.addEventListener("click",function (event){
            const che=event.srcElement;

            if(che.style.textDecorationLine === "line-through"){
              che.style.textDecorationLine = '';
            } else {
              che.style.textDecorationLine = "line-through"
            }
          })
        })








    }
    {
        const clock = document.querySelector('.h1-clock');


        function getTime(){
            const time = new Date();
            const hour = time.getHours();
            const minutes = time.getMinutes();
            const seconds = time.getSeconds();
            //clock.innerHTML = hour +":" + minutes + ":"+seconds;
            clock.innerHTML = `${hour<10 ? `0${hour}`:hour}:${minutes<10 ? `0${minutes}`:minutes}:${seconds<10 ? `0${seconds}`:seconds}`
        }


        function init(){
            setInterval(getTime, 1000);
        }

        init()


    }
</script>

</html>
