<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>투두리스트</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Source+Sans+Pro'>
  <link rel="stylesheet" href="./style.css">

</head>

<body>
  <!-- partial:index.partial.html -->
  <div class="app" id="app">
    <form class="form" th:action="@{/todo/create}" method="post" >
      <input class="input form__input" name="content" />
      <button class="btn form__submit-btn" type="submit">Add</button>
    </form>
     <transition-group tag="ol" name="list" class="todo-list">
      <li class="todo-list__item">
        <table>
          <thead>
          <tr>
            <th>번호</th>
            <th>할 일</th>
            <th>수행 여부</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="to:${todoList}">
            <td th:text="${to.id}"></td>
            <td th:text="${to.content}"></td>
            <td th:text="${to.completed}"></td>
          </tr>
          </tbody>
        </table>
<!--        <button class="todo-list__item-content" >-->
<!--        </button>-->
<!--        <button class="btn todo-list__item-remove" >-->
<!--          <i class="fa"></i>-->
<!--        </button>-->

      </li>


    </transition-group>

<!--    <div class="filters">-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;all" v-on:click="filterTodos('all')">-->
<!--        All-->
<!--      </button>-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;complete" v-on:click="filterTodos('complete')">-->
<!--        Complete-->
<!--      </button>-->
<!--      <button class="btn filters__btn filters__btn&#45;&#45;incomplete" v-on:click="filterTodos('incomplete')">-->
<!--        Incomplete-->
<!--      </button>-->
<!--    </div> -->
  </div>
  <!-- partial -->
  <script src='https://unpkg.com/vue@2.0.3/dist/vue.js'></script>
  <script src="./script.js"></script>

</body>

</html>